<h2>GBPL Blogs</h2>
<div class="row g-3">
  <% blogs.forEach(blog => { %>
    <div class="col-md-4">
      <div class="card h-100 p-2">
        <% if (blog.image) { %><img src="<%= blog.image %>" class="img-fluid rounded" alt="blog" /><% } %>
        <h5 class="mt-2"><%= blog.title %></h5>
        <span class="badge bg-secondary"><%= blog.language %></span>
        <p><%= blog.description %></p>
      </div>
    </div>
  <% }) %>
</div>
